/*-------------------------------------------------
	3.11. Login / Register / Forgot password
-------------------------------------------------------*/

.login_wrap, .signup_wrap {
    display: table;
    position: relative;
    width: 100%;
  }
  .forgotpassword_wrap{
    padding-top: 30px;
  }
  #loginform .modal-foot, #signupform .modal-foot, #forgotpassword .modal-foot {
    text-align: center;
  	border-top:0px;
  }
  #loginform .modal-foot p, #signupform .modal-foot p, #forgotpassword .modal-foot p {
    padding-top: 10px;
    height:auto;
  	font-size:14px;
  	color:#111;
  	line-height:22px;
  	font-weight:400;
  }
    #loginform .modal-foot a:hover, #signupform .modal-foot a:hover, #forgotpassword .modal-foot a:hover {
      text-decoration: none;
  }
  .google-signup-link a{
    color:black;
    text-decoration: none;
  }
  .google-signup-link a:hover{
    color:black;
    text-decoration: none;
  }
.google-img-style img{
  margin:0px 5px 3px 0px;
  width:30px;
  height: 30px;
}