/*******************RENTCAR HOW WORKS*********************/
	
.process-div{
	width: 100%;
	height: auto;
	text-align: center;
}
.process-title{
	margin-top: 20px;
	margin-bottom: 40px;

}
.process-title h2{
	font-size: 3rem;
	font-style: bold;
	word-spacing: 0.6rem;
}
.process-title p{
	font-size: 1rem;
}

.process-row{
	border-style: groove;
}

.process-row p i{
	padding-top: 10px;
}
.working_btn{
	margin:20px 11px 30px 0px;
}
.working_login_btn{
	background-color: white; 
    border: 2px groove; 
    color: black; 
    padding: 5px 8px; 
    text-align: center; 
    display: inline-block; 
    font-size: 15px; 
    margin: 10px 30px; 
    cursor: pointer;
}

/*
.process-row:hover{
 	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
 	transform: translateY(-20px);
 	border:none;
 }*/
 
/*******************RENTCAR HOW WORKS ENDS*********************/

@media (max-width :768px)
{
	   .process-div{
			border:none;
			height:auto;
			margin-bottom:0px;
		}
		.process-row{
			border: none;
			padding: 10px;
			margin-left: 10px;
		}
		.process-title{
			padding-left: 8px;
		}
}